<div class="user-details">
  <br><br>
  <img src="../images/memoji.jpg" height="200" width="200"/>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Cybersecurity</h2>
    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="14090c14-38f6-4e62-a863-7ee0657aadee" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="4a4ff836-3dcf-4015-84d5-99b313fce1a9" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
  </div>
  <div class="tech">
    <h2>Languages/Frameworks</h2>
    <!-- Languages for scripting, querying -->
    <a href="https://www.python.org/"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original-wordmark.svg" height="60" width="60"/></a>
    <a href="https://www.gnu.org/software/bash/"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bash/bash-original.svg" height="60" width="60"/></a>
    <a href="https://graphql.org/"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/graphql/graphql-plain-wordmark.svg" height="60" width="60" /></a>
    <!-- Gen AI + other ML stuff I use -->
    <br>
    <a href="https://www.tensorflow.org/"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tensorflow/tensorflow-original.svg" height="60" width="60"/></a>
    <a href="https://pytorch.org/"><img src="https://upload.wikimedia.org/wikipedia/commons/1/10/PyTorch_logo_icon.svg" height="60" width="60" /></a>
    <a href="https://huggingface.co/"><img src="../images/hf-logo.png" height="60" width="60" /></a>
    <br>
    <a href="https://redis.io/"><img src="../images/redis.svg" height="60" width="60" /></a>
    <a href="https://openai.com/"><img src="../images/openai-logomark.png" height="60" width="60" /></a>
    <a href="https://python.langchain.com"><img src="../images/langchain.png" height="60" width="60" /></a>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <!-- Where I write my Python code -->
    <a href="https://www.jetbrains.com/"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jetbrains/jetbrains-original.svg" height="60" width="60" /></a>
    <a href="https://colab.research.google.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Google_Colaboratory_SVG_Logo.svg" height="60" width="60" /></a>
    <a href="https://www.anaconda.com/"><img src="../images/anaconda.svg" height="60" width="60" /></a>

    <!-- Where I do my Data Analysis -->
    <a href="https://www.snowflake.com/en/"><img src="https://companieslogo.com/img/orig/SNOW-35164165.png?t=1634190631" height="60" width="60" /></a>
    <a href="https://www.tableau.com/"><img src="https://cdn.worldvectorlogo.com/logos/tableau-software.svg" height="60" width="60"/></a>
    <a href="https://aws.amazon.com/redshift/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Amazon-Redshift-Logo.svg/1280px-Amazon-Redshift-Logo.svg.png" height="60" width="60" /></a>

    <!-- Where I handle CI/CD -->
    <a href="https://www.docker.com/"><img src="https://icongr.am/devicon/docker-original-wordmark.svg?size=100&color=currentColor" height="60" width="60"/></a>
    <a href="https://github.com/"><img src="https://icongr.am/devicon/github-original-wordmark.svg?size=100&color=currentColor" height="60" width="60"/></a>
    <a href="https://www.jenkins.io/"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jenkins/jenkins-original.svg" height="60" width="60"/></a>

    <!-- Where I handle host the services -->
    <a href="https://azure.microsoft.com/en-us"><img src="../images/azure.svg" height="60" width="60" /></a>
    <a href="https://aws.amazon.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Amazon_Web_Services_Logo.svg" height="60" width="60"/></a>
    <br>
    <!-- Where I practice security -->
    <a href="https://www.hackthebox.com/"><img src="https://media.glassdoor.com/sqll/3278909/hack-the-box-squarelogo-1593684696335.png" height="60" width="60"/></a>
    <a href="https://snyk.io/"><img src="https://res.cloudinary.com/snyk/image/upload/v1537345891/press-kit/brand/avatar-transparent.png" height="60" width="60"/></a>

  </div>
</div>